<div>
  <h1>LeagueData</h1>

  <h2>Find Summoner:</h2>
  <p>Id: <%= summoner.id %></p>
  <p>Name: <%= summoner.name %></p>
  <p>Icon: <%= summoner.profileIconId %></p>
  <p>Revision Date: <%= summoner.revisionDate %></p>
  <p>Revision Date Str: <%= summoner.revisionDateStr %></p>
  <p>Level: <%= summoner.summonerLevel %></p>
  <hr />
</div>
